.logo {
    height: 100px;
    width: 100px;
    margin: 20px;
    background: #000;
    box-shadow: 0px 10px 15px 10px #A68B77;
}

.header {
    color: #4A301E;
    display: flex;
}

.nav {
    color: #875836;
    float: left;
    margin-left: 1%;
    flex-direction: column;
    display: flex;
    align-content: space-around;
}

.based {
    float:right;
    width:83%;
    display: inline-block;
}

.img-nav {
    height: 100px;
    width: 100px;
    margin: 20px;
    background: #000;
    box-shadow: 0px 10px 15px 10px #A68B77;
    position: absolute;
    left: 3%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav a:hover {
    color: #57290b;
}

.active-item {
    color: #452007;
}

.nav-other {
    color: #875836;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.nav-other li {
    display: inline-block;
    margin: 0;
    padding: 0;
    float: left;
}

.nav-other a {
    text-decoration: none;
    padding: 20px;
    margin: 0;
    outline: none;
}

.nav-other a:hover {
    color: #57290b;
}

.active-item {
    color: #452007;
}

button {

    /* usual styles */
    padding:10px;
    border:none;
    background-color: #63412A;
    color:#E3BDA3;
    font-weight:600;
    border-radius:5px;
}

